/* font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Srisakdi', cursive;
font-family: 'Trochut', cursive;
font-family: 'Poiret One', cursive; */
body {
    font-family: "Trochut", cursive;
    background-image: linear-gradient(yellow, lightblue);
    letter-spacing: 3px;
    margin: 15px 15px 45px 15px;
    font-size: 1rem;
}
h1 {
    font-family: "Trochut", cursive;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}
/* TEXT: INTRO */
h2, p, ol {
    font-size: 2rem;
    text-align: left;

}
/* IMAGE: FIRST NAME */
#firstNames {
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px black solid;
    outline: 2px yellow;

}
#secondNames {
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px black solid;
    outline: 2px yellow;

}
/* IMAGE OF THE 8 ANGLES AND THE TRANSVERSAL */
#angles {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px black solid;
    outline: 2px yellow;

}
/* IMAGE OF THE CORROSPONDING ANGLES */
#corresponding {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px black solid;
    outline: 2px yellow;

}
/* IMAGES 5, 6, 7: FULL ANGLES DEGREES FILLED IN */
#img5 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px black solid;
    outline: 2px yellow;

}
#img6 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px black solid;
    outline: 2px yellow;

}
#img7 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px black solid;
    outline: 2px yellow;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 1px black solid;
    outline: 2px yellow;
}
footer {
    text-align: center;
    
}